li:hover {
    background-color: lightgrey;
}

.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
    border-width: 3px;
}

.row {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.col {
    justify-content: center;
    display: flex;
    margin: 0;
}

.orangeC {
    color:orange
}